html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.scroll-graphic{
	/* overflow-x : 새가 날아갈때 오른쪽으로 넘어가면서 스크롤이 생기는 것을 방지해줌 */
	overflow-x: hidden;
	position:sticky;
	top: 0;
	height: 100vh;
}
.global-width{
	max-width: 620px;
	margin: 0 auto;
	padding: 0 16px;
}
.graphic-item{
	display: flex;
	/* 세로방향 센터정렬 */
	align-items: center;
	/* 가로방향 센터정렬 */
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* 불투명도0 */
	opacity: 0;
	transition: 0.5s;
	will-change: opacity;
	/* ->브라우저에게 페이지가 바뀌는 것을 알려줘서 더 빠르고 효율적으로 처리할 수 있도록 도와줌 */
}
.visible{
	opacity: 1;
}
.scene-img{
	max-height: 100vh;
}
.scroll-text{
	position: relative;
}
.step{
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.bird{
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 100px;
	transform: translateX(-100%);
	transition: 1.5s 0.5s linear ;
}
[data-index="5"] .bird{
	left: 30%;
	bottom: 30%;
}
.global-footer{
	padding: 2rem 0;
	text-align: center;
}
/* --밑줄처리-- */
.strikethrough{
	text-decoration: line-through;
}